In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline
import sqlite3

In [2]:
con = sqlite3.connect('orig_baseline_v2.1_0yrs.db')
q = 'select * from observations;'
df1 = pd.read_sql(q, con)
con.close()

In [3]:
con = sqlite3.connect('baseline_v2.1_0yrs.db')
df2 = pd.read_sql(q, con)
con.close()

In [7]:
np.max(np.abs(df1['rotTelPos']-df2['rotTelPos']))

5.684341886080802e-14

In [11]:
df1['rotSkyPos'].values % 360

array([ 62.75077469,  62.29172208,  62.09038003, ...,  34.21862892,
        38.54374167, 316.7525038 ])

In [9]:
df2['rotSkyPos']

0         62.750775
1         62.291722
2         62.090380
3         62.161663
4         50.709377
            ...
21365     29.939207
21366     23.652697
21367     34.218629
21368     38.543742
21369    316.752504
Name: rotSkyPos, Length: 21370, dtype: float64